* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* mediaQ  */


@media (width <= 480px) {




    header {
        position: relative;
    }


    .navegador {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        height: auto;
        background-color: red;
    }




    .fondo-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        height: 100vh;
        width: 45%;
        position: absolute;
        right: 0;
        z-index: 3;
        top: 0;
    }

    #cierre-fondo-menu {
        text-decoration: none;
        align-self: flex-end;
        background-color: white;
        height: 2rem;
        width: 2rem;
    }

    #cierre-fondo-menu img {
        height: 100%;
        width: 100%;
    }
   .menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 3rem;
        color: whitesmoke;
    } 

    .menu li > a {
        text-decoration: none;
        color: whitesmoke;
    }
    

    #btn-hamburguesa {
        border: none;
        background-color: transparent;
    }





}




