@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


.header-index {
  background: url("/img/Volcan_main.jpg") center no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.navegador {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

header article {
  color: white;
  display: flex;
  flex-direction: column;
}

#logo-svg {
  margin: 1rem;
}

.navegador ul {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 25rem;
}

.navegador li > a {
  text-decoration: none;
  color: white;
}

.navegador li a:hover {
  color: #af8cfb;
  text-decoration: underline;
  transition: 0.5s ease-in-out;
}

#cierre-fondo-menu {
  display: none;
}

.fondo-menu {
  display: flex;
}

nav button {
  display: none;
}

.fondo-menu {
  display: none;
}

footer {
  margin:3rem; 
  font-style: italic;
}

/* Rocas intrusivas */

.header-intrusivas {
  background: url("/img/header-intrusiva.jpg") center no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}


body {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
width: 50%;
}

section {
  margin-top:2rem;
  display:flex;
  flex-direction: column;
}

div img{
  width: 100%;
}

.tituloIgnea {
  color: black;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  border-bottom: #7842EA solid 4px;
  margin-top: 3rem;
}

span {
  font-size: 4rem;
  
}

legend {
  font-style: italic;
  color: grey;
  font-size: small;
  margin: 0.5rem;
}

/* mediaQ  */

@media (width <= 480px) {
  header {
    position: relative;
    height: 100vh;
  }
  nav button {
    display: block;
  }

  header > article {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }

  .navegador {
    padding: 0px 12px;
  }

  .navegador ul {
    display: none;
  }

  .fondo-menu {
    animation: navAnimacion 0.6s ease-in-out;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 45%;
    position: absolute;
    right: 0;
    z-index: 3;
    top: 0;
  }

  #cierre-fondo-menu {
    display: block;
    text-decoration: none;
    align-self: flex-end;
    background-color: white;
    height: 2rem;
    width: 2rem;
  }

  #cierre-fondo-menu img {
    height: 100%;
    width: 100%;
  }
  .menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 3rem;
    color: whitesmoke;
  }

  .menu li > a {
    text-decoration: none;
    color: whitesmoke;
  }

  #btn-hamburguesa {
    border: none;
    background-color: transparent;
  }

  footer {
display: flex;
flex-direction: column;
align-content: center;
text-align: center;
  }

  @keyframes navAnimacion {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes navAnimacionCerrar {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .cerrar {
    animation: navAnimacionCerrar 0.6s ease-in-out forwards;
  }
}
